*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
}

button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}
