@import "@fontsource/line-seed-jp/400.css";
@import "@fontsource/line-seed-jp/700.css";
@import "@fontsource/michroma/400.css";

:root {
  --font-sans: "LINE Seed JP", sans-serif;
  --font-display: "Michroma", "LINE Seed JP", sans-serif;
}

html {
  font-family: var(--font-sans);
}

h1,
h2,
h3 {
  font-family: var(--font-display);
  font-weight: 400;
}
